/* White button */
.btn-container .button {
  background-color: #ffffff;
  color: #8701f1;
  width: 20rem;
  margin: 2rem;
  height: 8rem;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  transition: all 0.3s ease-in-out 0s;
  box-shadow: 5px 5px rgb(0, 0, 0, 25%);
  cursor: pointer;
}
/* .button {
  box-shadow: 5px 5px rgb(0, 0, 0, 25%);
  /* box-shadow: 10px 20px rgb(102 0 193); 
} */
.btn-container h6 {
  font-size: 2.5rem;
  font-weight: 900;
}
.btn-container a {
  text-decoration: none;
}

/* .btn-containers .btn-container .button:hover {
  background-color: #ffd256;
} */
.btn-container .button:hover {
  background-color: #ffd256;
  color: #9305ff;
  transform: translateY(-10%);
  -webkit-transform: translateY(-10%);
  -moz-transform: translateY(-10%);
  -ms-transform: translateY(-10%);
  -o-transform: translateY(-10%);
}
/* HTML for white button 
					<div class="btn-container">
						<section class="history-section">
							<a href=#>
								<div class="button">
									<h6>History</h6>
									<img src="./src/img/icons/historyIcon.png" alt="History icon">
								</div>
							</a>
						</section>
					</div>
*/

/*Responsive on main landing page */
@media only screen and (max-width: 900px) {
  .btn-container .button {
    width: 20rem;
    height: 6rem;
  }
  .btn-container h6 {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 400px) {
  .btn-container .button {
    width: 16rem;
    height: 5rem;
  }
  .btn-container h6 {
    font-size: 2rem;
  }
}
