.container-completed-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10rem;
  width: 70vw;
  height: 80vh;
  background-color: rgb(221, 139, 235, 10%);
  box-shadow: 10px 20px rgb(102 0 193);
  color: white;
  margin-bottom: 4rem;
  padding: 2rem;
}

.completed-header {
  font-size: 7rem;
  margin-top: 2rem;
  animation: none;
  -webkit-animation: none;
}

.completed-btns-container .btn-container .button:hover {
  background-color: #ffd256;
}

.btn-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.cup {
  margin: 2rem;
  height: auto;
  width: 70%;
}

.score {
  font-size: 3rem;
  font-weight: 900;
}
.checkout {
  font-size: 2.5rem;
  font-weight: 500;
}
