.main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    text-align: center;
}

/* MAIN TITLE */
h1 {
    font-size: 8rem;
    margin-top: 16rem;
}
.main-title {
    margin: 4rem;
}
.main-title h5 {
    padding: 2.5rem;
    font-size: 4rem;
}


.secondary-title {
    font-size: 4rem;
    margin-top: 4rem;
}

.categories h6 {
    font-size: 3.5rem;
}

.categories .button {
    background-color: #FFFFFF;
    color: #8701F1;
    width: 80rem;
    height: 8rem;
    margin: 5rem;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categories a {
    text-decoration: none;
}

img {
    width: 8rem;
    height: 8rem;
}
