.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  text-align: center;
}

.landing-btns-container {
  display: flex;
  justify-content: space-between;
}

/* MAIN TITLE */
h1 {
  font-size: 8rem;
  font-weight: 700;
  letter-spacing: 0.5rem;
  margin-top: 16rem;
  animation: 1.4s ease-out 0s 1 slideInLeft;
  -webkit-animation: 1.4s ease-out 0s 1 slideInLeft;
}
.main-title {
  margin: 4rem;
}
.main-title h5 {
  padding: 2.5rem;
  font-size: 4rem;
  letter-spacing: 0.2rem;
  animation: 1s ease-out 0s 1 slideInRight;
  -webkit-animation: 1.4s ease-out 0s 1 slideInRight;
}

.secondary-title {
  font-size: 4rem;
  letter-spacing: 0.5rem;
  animation: 1s ease-out 0s 1 fadeIn;
  -webkit-animation: 3.8s fadeIn;
  font-weight: 800;
}

.col {
  display: flex;
  justify-content: center;
}
img {
  width: 6rem;
  height: 6rem;
}

/* White button */
.categories .button {
  background-color: #ffffff;
  color: #8701f1;
  width: 40rem;
  height: 8rem;
  margin-top: 6rem;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  transition: all 0.3s ease-in-out 0s;
}
.categories h6 {
  font-size: 3.5rem;
}
.categories a {
  text-decoration: none;
}
.categories .button:hover {
  background-color: #ffd256;
  color: #9305ff;
  transform: translateY(-10%);
  -webkit-transform: translateY(-10%);
  -moz-transform: translateY(-10%);
  -ms-transform: translateY(-10%);
  -o-transform: translateY(-10%);
}
/* HTML for white button 
					<div class="col">
						<section class="history-section">
							<a href=#>
								<div class="button">
									<h6>History</h6>
									<img src="./src/img/icons/historyIcon.png" alt="History icon">
								</div>
							</a>
						</section>
					</div>
*/

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 900px) {
  h1 {
    font-size: 5rem;
  }
  .main-title h5 {
    font-size: 2.5rem;
  }
  .secondary-title {
    font-size: 2.4rem;
  }
  .categories .button {
    width: 20rem;
    height: 6rem;
  }
  .categories h6 {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 400px) {
  h1 {
    font-size: 3rem;
  }
  .main-title h5 {
    font-size: 2rem;
  }
  .secondary-title {
    font-size: 1.8rem;
  }
  .categories .button {
    width: 16rem;
    height: 5rem;
  }
  .categories h6 {
    font-size: 2rem;
  }
}

.categories-containers {
  display: flex;
  gap: 20px;
  position: relative;
  top: 80px;
}
.categories-containers {
  animation: 1s jump infinite;
  -webkit-animation: 1s jump infinite;
  cursor: pointer;
}

.category .category-name {
  background-color: #ffffff;
  color: #8701f1;
  width: 30rem;
  margin: 2rem;
  height: 20rem;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  transition: all 0.3s ease-in-out 0s;
  box-shadow: 5px 5px rgb(0, 0, 0, 25%);
  cursor: pointer;
}

.btn-containers-category {
  display: flex;
  gap: 900px;
  margin-top: 120px;
}

.category {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  position: absolute;
  top: 40px;
  width: 120px;
  height: 120px;
}

.global {
  position: absolute;
  left: 16%;
}

.book {
  position: absolute;
  right: 15%;
}
.category-name {
  box-sizing: border-box;
  font-size: 2.5rem;
  font-weight: 900;
  padding-top: 120px;
}

.category .category-name:hover {
  color: #ffd256;
}
