.leaderboard-title {
  background-color: white;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  height: 10%;
  color: black;
  margin-top: 6rem;
  padding: 5rem 4rem 5rem 4rem;
  z-index: 1;
}
.title {
  animation: none;
  -webkit-animation: None;
  margin: 0;
  letter-spacing: 0.1rem;
}
.container-leaderboard-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  width: 60%;
  background-color: rgb(255, 255, 255, 30%);
  color: white;
  margin-bottom: 4rem;
  border: 1px solid white;
  padding-top: 14rem;
  margin-top: -10rem;
  padding-bottom: 4rem;
}

.leader-board {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2rem;
  background-color: #340365;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  padding: 1rem;
}

.leader-board h2 {
  font-size: 3rem;
}
.leader-board p {
  font-size: 2.5rem;
}

.leaderboard-btns-container {
  display: flex;
  justify-content: space-between;
  width: 84%;
}

@media only screen and (max-width: 900px) {
  .leaderboard-btns-container {
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
  .leaderboard-title {
    padding: 4rem 3rem 4rem 3rem;
  }
  .title {
    font-size: 4rem;
  }
  .leader-board h2 {
    font-size: 1.9rem;
  }
  .leader-board p {
    font-size: 1.5rem;
  }
  .container-leaderboard-page {
    width: 80%;
  }
}

@media only screen and (max-width: 400px) {
  .leaderboard-title {
    padding: 3rem 2rem 3rem 2rem;
  }
  .title {
    font-size: 4rem;
  }
}
