.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-top: 15%;
  flex-wrap: wrap;
}

.duckImage {
  width: 20rem;
  height: 20rem;
}
.username-title {
  font-weight: 900;
  font-size: 35px;
  color: #ffffff;
}
.input-username {
  width: 50rem;
  height: 8rem;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  outline: none;
}
