.rules-header {
  animation: none;
  -webkit-animation: none;
  position: relative;
  top: -100px;
  font-size: 60px;
}
.rules-container {
  margin: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -50px;
}
.rules-container ul li {
  padding: 1rem;
  font-size: 2.8rem;
  animation: 3s ease-out 0s 1 fadeIn;
  -webkit-animation: 3s ease-out 0s 1 fadeIn;
  list-style-type: none;
  text-align: left;
}

.rules-btns-container {
  display: flex;
  justify-content: space-between;
}
.container-rules-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  width: 80vw;
  height: 80vh;
  background-color: rgb(221, 139, 235, 10%);
  color: white;
  margin-bottom: 4rem;
  box-shadow: 10px 20px rgb(102 0 193);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 900px) {
  h1 {
    font-size: 5rem;
  }
  .rules-container ul li {
    font-size: 2.5rem;
  }
  .btn-container .button {
    width: 15rem;
  }
  .btn-container h6 {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 400px) {
  h1 {
    font-size: 3rem;
  }
  .rules-container ul li {
    font-size: 2rem;
  }
  .btn-container .button {
    width: 15rem;
  }
  .btn-container h6 {
    font-size: 1.5rem;
  }
}

.btn-containers {
  display: flex;
  gap: 100px;
}
