@import url("landing.css");
@import url("buttons.css");
@import url("questions.css");
@import url("welcome.css");
@import url("rules.css");
@import url("leaderboard.css");
@import url("completed.css");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}
html,
body {
	font-family: 'Proza Libre', sans-serif;
	font-weight: 400;
	font-size: 62.5%;
	max-width: 100vw;
	max-height: 100vh;
	background-image: url('../img/background.jpg');
    background-size: cover;
}
