.main-container {
    overflow: hidden;
}
.icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.arrowIcon {
    width: 10rem;
    height: 10rem;
    animation: 1s slideInRight infinite;
    -webkit-animation: 2s jump ease infinite;
}

.duckImg{
    margin-left: -6rem;
    width: 30rem;
    height: 30rem;
    transition: all .3s ease-in-out 0s;
}

.duckImg:hover{
    transform: translateY(10%);
    -webkit-transform: translateY(10%);
    -moz-transform: translateY(10%);
    -ms-transform: translateY(10%);
    -o-transform: translateY(10%);
}

@keyframes jump {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}


@media only screen and (max-width: 900px) {
    h1 {
        font-size: 5rem;
    }
    .main-title h5 {
        font-size: 2.5rem;
    }
    .secondary-title {
        font-size: 2.4rem;
  }
  .arrowIcon {
    width: 8rem;
    height: 8rem;
}

.duckImg{
    width: 25rem;
    height: 25rem;
}
}

  @media only screen and (max-width: 400px) {
    h1 {
        font-size: 3rem;
    }
    .main-title h5 {
        font-size: 2rem;
}
    .secondary-title {
        font-size: 1.8rem;
    }
    .arrowIcon {
        width: 6rem;
        height: 6rem;
    }
    
    .duckImg{
        width: 20rem;
        height: 20rem;
    }
}

